<br />
<h3>Add your own fruit to Fruitopia!</h3>
<div class="js-fruit-form">
	<table>
		<tr>
			<td>Name: </td>
			<td><input class="js-fruit-form-input" type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Colours: </td>
			<td><input class="js-fruit-form-input" type="text" name="colours" /></td>
		</tr>
		<tr>
			<td>Description: </td>
			<td><input class="js-fruit-form-input" type="text" name="description" /></td>
		</tr>
	</table>
	<button class="js-submit-fruit" type="submit">Submit</button>
	<div>
		<span style="display: none;" class="js-fruit-form-success">Fruit created!</span>
		<span style="display: none;" class="js-fruit-form-fail">Uh oh, couldn't create that fruit!</span>
	</div>
</div>