@model IFruitListViewModel
<br />
<h3>All fruit provided by Fruitopia!</h3>
<div class="js-all-fruit">
	@{ Html.RenderPartial("FruitList"); }
</div>
<br />
<a href="#"><strong>1</strong></a>&nbsp;<a href="#">2</a>&nbsp;<a href="#">3</a>